

* {
    font-family: 'Exo 2', sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Krona One', sans-serif;
}

h1 {
    font-size: 6rem;
    color: whitesmoke;
    margin-block: 0.2em;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
    margin-block: 0.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 0.6rem;
}


p {
    /* font-family: 'Exo 2', sans-serif; */
    color: goldenrod;
    /* font-size: 21px; */
}

section {
    /* background-color: green; */
}

footer {
    height: 350px;
    background-color: honeydew;
}


/* THIS IS A CLASS */
.home-article {
    /*border: 10px solid whitesmoke; */
    border-radius: 16px;
    background-color: whitesmoke;
    width: 200px;
    padding: 20px;
}

.img-article {
    width: 100%;
}

.icon-feature {
    font-size: 4em;
    color: darkgreen;
}

/* THIS IS AN ID */
#hero {
    /* background-color: tomato; */
    background-image: url('../img/steve-harvey-U4wcrDteZ2Y-unsplash.jpg');
    background-size: cover;
    text-align: center;
    /*height: 500px; */
    height: 60vh;
}

.something {

}

#something {

}

article {

}